node_modules/
package-lock.json
!picoctf-stats.json
*.svg
!metrics.plugin.isocalendar.fullyear.clean.svg
!metrics.plugin.languages.clean.svg
!metrics.plugin.leetcode.clean.svg
!metrics.plugin.stars.clean.svg
!metrics.plugin.achievements.clean.svg
!metrics.plugin.lines.svg
!metrics.plugin.followup.svg
